[submodule "cmake"]
	path = cmake
	url = https://github.com/mean00/arduino-cmake-stm32.git
[submodule "AD9833"]
	path = AD9833
	url = https://github.com/Billwilliams1952/AD9833-Library-Arduino
[submodule "u8g2"]
	path = u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "Rotary"]
	path = Rotary
	url = https://github.com/brianlow/Rotary.git
[submodule "Bounce2"]
	path = Bounce2
	url = https://github.com/thomasfredericks/Bounce2
